.guests-picker-wrapper {
    min-width: 280px;
    background-color: #fff;
    .guests-picker {
        .by-type {
            .type h3 {
                text-transform: capitalize;
            }
            .change-count {
                gap: 16px;
                button {
                    height: rem(32px);
                    width: rem(32px);
                    color: $light-btn-border-clr;
                    border: 1px solid $light-btn-border-clr;
                    border-radius: 50%;
                    svg {
                        height: rem(12px);
                        width: rem(12px);
                    }
                    &:hover:not(.disabled) {
                        color: $main-font-clr;
                        border-color: $main-font-clr;
                    }
                    &.disabled {
                        cursor: not-allowed;
                        color: $dark-btn-hover-clr;
                        border-color: $dark-btn-hover-clr;
                    }
                }
            }
        }
        .bottom {
            margin-bottom: 16px;
            color: $ligher-font-clr;
        }
    }
}
