.stay-details {
    margin-top: rem(80px);
    > * {
        width: 100%;
    }
    @include for-mobile-only {
        .gallery {
            grid-row: 1/2;
        }
        .form-bottom {
            display: block;
            height: rem(80px);
        }
        .info-section {
            padding: 32px 0 24px;
        }
    }

    @include for-tablet-portrait-up {
        padding-top: 24px;
        .info-section {
            padding: 48px 0;
        }
    }

    .info-section {
        h2 {
            font-family: AirbnbCereal-Med;
            font-weight: 400;
            font-size: rem(22px);
            margin-bottom: rem(8px);
        }
        line-height: rem(20px);
        &:not(:first-child) {
            border-top: 1px solid $header-btn-border-clr;
        }
    }

    .show-more-btn {
        text-decoration: underline;
        gap: 4px;
        svg {
            height: rem(12px);
            width: rem(12px);
        }
    }

    .show-all-btn {
        font-size: rem(16px);
        line-height: rem(20px);
        font-family: AirbnbCereal-Med;
        padding: 13px 23px;
        border: 1px solid $main-font-clr;
        &:hover {
            text-decoration: underline;
            background-color: $reg-btn-hover-clr;
        }
        @include for-mobile-only {
            width: 100%;
        }
    }

    .clamp-3-lines {
        white-space: pre-line;
        line-height: rem(24px);
        max-height: rem(72px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .user-img,
    .host-img {
        height: rem(56px);
        width: rem(56px);
        border-radius: 50%;
        background-color: $header-btn-border-clr;
        // overflow: hidden;
    }

    @import "../cmps/StayDetails/StayHeader";
    @import "../cmps/StayDetails/StayGallery";
    @import "../cmps/StayDetails/SplitStayInfoWrapper";
    @import "../cmps/StayDetails/StayReviews";
    @import "../cmps/StayDetails/StayHostedBy";

    .stay-location {
        h2,
        p.no-desc {
            margin-bottom: 24px;
        }
        .map {
            @include for-mobile-only {
                height: rem(218px);
                border-radius: rem(12px);
            }
            @include for-tablet-portrait-up {
                height: 480px;
                .map-info-window {
                    font-family: AirbnbCereal-Reg;
                    font-size: rem(14px);
                    padding: 4px;
                }
            }
            width: 100%;
            margin-bottom: 32px;
            // overflow: visible;
            background-color: $header-btn-border-clr;
        }
        p.title {
            margin-bottom: 16px;
        }
        .show-more-btn {
            margin-top: 16px;
        }
    }
}
