.stay-details {
    margin-top: 24px;
    padding-top: rem(80px);
    > * {
        width: 100%;
    }
    @import "../cmps/StayDetails/StayHeader";
    .gallery {
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 8px;
        position: relative;
        border-radius: 12px;
        overflow-y: hidden;
        max-height: calc(100vh - 9rem);
        @include for-laptop-up {
            max-height: calc(60vh - 4rem);
        }
        :first-child {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        > *:not(.show-all) {
            @include aspect-ratio(1, 1);
            filter: brightness(100%);
            transition: filter 0.2s ease-in;
            &:not(.show-all):hover {
                filter: brightness(85%);
            }
            background-color: $header-btn-border-clr;
        }
        .show-all {
            position: absolute;
            z-index: 1;
            bottom: 24px;
            right: 24px;
            background-color: white;
            border: 1px solid $main-font-clr;
            // border-radius: 8px;
            gap: 8px;
            padding: 7px 15px;
            font-size: rem(14px);
            line-height: rem(18px);
            font-family: AirbnbCereal-Med;
            &:hover {
                background-color: $reg-btn-hover-clr;
            }
            svg {
                height: rem(12px);
                width: rem(12px);
            }
        }
        @include for-tablet-portrait-up {
        }
        @include for-laptop-up {
        }
    }

    .info-section {
        h2 {
            font-family: AirbnbCereal-Med;
            font-weight: 400;
            font-size: rem(22px);
            margin-bottom: rem(8px);
        }
        line-height: rem(20px);
        &:not(:first-child) {
            border-top: 1px solid $header-btn-border-clr;
        }
    }

    .show-more-btn {
        text-decoration: underline;
        gap: 4px;
        svg {
            height: rem(12px);
            width: rem(12px);
        }
    }

    .show-all-btn {
        font-family: AirbnbCereal-Med;
        padding: 13px 23px;
        border: 1px solid $main-font-clr;
        &:hover {
            text-decoration: underline;
            background-color: $reg-btn-hover-clr;
        }
        @include for-mobile-only {
            width: 100%;
        }
    }

    .clamp-3 {
        white-space: pre-line;
        line-height: rem(24px);
        max-height: rem(72px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .stay-info-wrapper {
        width: 100%;
        margin-bottom: 48px;
        @import "../cmps/StayDetails/RatingReviews";
        @import "../cmps/StayDetails/BookingForm";
        @import "../cmps/StayDetails/StayAmenities";
        .stay-info {
            width: 58.33333%;
            flex-grow: 1;
            .info-header {
                padding-bottom: 24px;
                img {
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                }
                .info-header-subtitle {
                    p:not(:last-child)::after {
                        content: "·";
                        padding: 0 rem(4px);
                    }
                }
            }
            .features {
                padding: 32px 0;
            }
            .description {
                padding-top: 32px;
                margin-bottom: 48px;
                line-height: rem(24px);
                max-height: rem(224px);
                p {
                    overflow: hidden;
                    white-space: pre-line;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    margin-bottom: 16px;
                }
            }
            .select-dates {
                position: relative;
                padding-top: 48px;
                h2 {
                    line-height: rem(26px);
                    margin-bottom: 8px;
                }
                p {
                    color: $ligher-font-clr;
                }
                .react-datepicker {
                    margin-bottom: calc(2.125rem + 16px);
                    .react-datepicker__navigation {
                        top: rem(24px);
                    }
                    .react-datepicker__month-container:nth-of-type(3) {
                        display: none;
                        @include for-laptop-up {
                            display: inline-block;
                        }
                    }
                }
                .clear-dates {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .clear-dates {
            padding: rem(8px);
            font-size: rem(14px);
            line-height: rem(18px);
            font-family: AirbnbCereal-Med;
            text-decoration: underline;
            &:hover {
                background-color: $reg-btn-hover-clr;
            }
        }
    }

    .reviews {
        padding: 48px 0;
        h2 {
            margin-bottom: 32px;
            svg {
                color: $main-highlight-clr;
                height: rem(16px);
                width: rem(16px);
                margin-inline-end: 8px;
            }
        }
        .rating-sum {
            margin-bottom: 24px;
            .review-bar-item {
                width: 41.6667%;
                padding-inline-end: 8px;
                margin-inline-end: 8.3333%;
                margin-bottom: 16px;
                .topic {
                    width: 100%;
                    text-transform: capitalize;
                }
                .rating {
                    margin-inline-start: 12px;
                    width: 75%;
                    .rating-bar-container {
                        position: relative;
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;
                        background-color: $header-btn-border-clr;
                        .rating-bar {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            border-radius: 2px;
                            background-color: $main-font-clr;
                        }
                    }
                    .rate {
                        margin-inline-start: 10px;
                    }
                }
            }
        }
        .latest-reviews {
            flex-direction: column;
            .review-preview {
                margin-bottom: 40px;
                .reviewer {
                    margin-bottom: 12px;
                    .user-img {
                        height: 56px;
                        width: 56px;
                        border-radius: 50%;
                        background-color: $header-btn-border-clr;
                        overflow: hidden;
                    }
                    .reviewer-info {
                        margin-inline-start: 12px;
                        .date {
                            color: $ligher-font-clr;
                        }
                    }
                }
                .show-more-btn {
                    margin-top: 8px;
                }
            }
            @include for-laptop-up {
                flex-direction: row;
                flex-wrap: wrap;
                .review-preview {
                    width: 41.6667%;
                    padding-inline-end: 8px;
                    margin-inline-end: 8.3333%;
                }
            }
        }
    }

    .stay-location {
        padding-top: 48px;
        h2,
        p.no-desc {
            margin-bottom: 24px;
        }
        .map {
            height: 480px;
            width: 100%;
            margin-bottom: 32px;
            overflow: visible;
            background-color: $header-btn-border-clr;
        }
        p.title {
            margin-bottom: 16px;
        }
        .show-more-btn {
            margin-top: 16px;
        }
    }

    margin-bottom: 60vh;
}
