.amenities {
    padding: 48px 0;
    h2 {
        margin-bottom: 24px;
    }
    .amenities-list {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 24px;
        .amenity {
            gap: 16px;
            margin-bottom: 16px;
            img {
                height: 24px;
                width: 24px;
            }
            &.missing-safety {
                text-decoration: line-through;
            }
        }
        .wide-display {
            display: none;
        }
        @include for-laptop-up {
            grid-template-columns: 1fr 1fr;
            .wide-display {
                display: flex;
            }
        }
    }
    .show-all {
        font-family: AirbnbCereal-Med;
        padding: 13px 23px;
        border: 1px solid $main-font-clr;
        &:hover {
            text-decoration: underline;
            background-color: $reg-btn-hover-clr;
        }
        @include for-mobile-only {
            width: 100%;
        }
    }
}