.stay-header {
    @include for-mobile-only {
        padding: 24px 0;
        border-bottom: 1px solid $header-btn-border-clr;
        .sub-header {
            .actions {
                display: none;
            }
            .info {
                flex-wrap: wrap;
            }
        }
    }
    
    @include for-tablet-portrait-up {
        margin-bottom: 16px;
        .sub-header .actions {
            gap: 4px;
            > * {
                gap: 8px;
                padding: 8px;
                border-radius: 8px;
                font-size: rem(14px);
                line-height: rem(20px);
                font-family: AirbnbCereal-Med;
                text-decoration: underline;
                svg {
                    height: rem(16px);
                    width: rem(16px);
                }
                &:hover {
                    background-color: $reg-btn-hover-clr;
                }
            }
        }
    }

    .title {
        font-weight: 400;
        font-size: rem(26px);
        font-family: AirbnbCereal-Med;
        margin-bottom: 4px;
    }

    .sub-header {
        font-size: rem(14px);
        line-height: rem(20px);
        font-family: AirbnbCereal-Med;
        .info {
            gap: rem(4px);
            // @import "./RatingReviews";
            .rate-rev::after {
                    content:"·";
                    padding: 0 4px;
                }
            
            .location {
                color: $ligher-font-clr;
                overflow: clip;
                text-overflow: ellipsis;
            }
        }
    }
}
