.amenities {
    // padding: 48px 0;
    h2 {
        margin-bottom: 24px;
    }
    .amenities-list {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 24px;
        .amenity {
            gap: 16px;
            margin-bottom: 16px;
            img {
                height: 24px;
                width: 24px;
            }
            &.missing-safety {
                text-decoration: line-through;
            }
        }
        .wide-display {
            display: none;
        }
        @include for-tablet-landscape-up {
            // @include for-laptop-up {
            grid-template-columns: 1fr 1fr;
            .wide-display {
                display: flex;
            }
        }
    }
}