.mobile-search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    // opacity: 0;
    background-color: #fff;
    
    &.open {
        opacity: 1;
    }
    
    svg {
        height: rem(20px);
        width: rem(20px);
    }

    .location {
        grid-column: 1/-1;
    }
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-60px) scale(0.5);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
