* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    font-family: AirbnbCereal-Reg, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: $main-font-clr;
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        margin: 4px;
    }
    &::-webkit-scrollbar-track-piece {
        border-radius: 10px;
        background: #e9e9e9;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #bbbbbb;
    }
}

// html,
// body {
//     max-width: 100%;
//     overflow-x: hidden;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: AirbnbCereal-Med, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    font-size: 1rem;
    border-radius: rem(8px);
    background-color: transparent;
    color: $main-font-clr;
    font-family: AirbnbCereal-Reg, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

img {
    width: 100%;
}