// Helper classes

// Font Sizes
.fs10 {
    font-size: rem(10px);
    line-height: rem(12px);
}
.fs12 {
    font-size: rem(12px);
    line-height: rem(16px);
}
.fs14 {
    font-size: rem(14px);
    line-height: rem(18px);
}
.fs16 {
    font-size: rem(16px);
    line-height: rem(20px);
}
.fs18 {
    font-size: rem(18px);
    line-height: rem(24px);
}
.fs20 {
    font-size: rem(20px);
}
.fs22 {
    font-size: rem(22px);
    line-height: rem(26px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers
.flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-start {
        justify-content: flex-start;
    }
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
}

.clear-bg {
    background-color: transparent;
}

// ul
.clean-list {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0px;
}

// buttons

.light-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-btn-border-clr;
    background-color: #fff;
    font-size: rem(12px);
    line-height: rem(16px);
    border-radius: rem(30px);
    padding: 8px 16px;
    &:hover {
        border-color: $main-font-clr;
    }
}

// sub-section font + divider

.sub-section {
    h2 {
        font-family: AirbnbCereal-Med;
        font-weight: 400;
        font-size: rem(22px);
        margin-bottom: rem(8px);
    }
    line-height: rem(20px);
    &:not(:first-child) {
        border-top: 1px solid $header-btn-border-clr;
    }
}

// flex dot-seperated subheader section
.sep-subheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p:not(:last-child)::after {
        content: "·";
        padding: 0 rem(4px);
    }
}