// Helper classes

.flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.justify-end {
        justify-content: flex-end;
    }
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.rounded {
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.clear-bg {
    background-color: transparent;
}

// ul
.clean-list {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0px;
}

// buttons

.light-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-btn-border-clr;
    background-color: #fff;
    color: $main-font-clr;
    font-size: rem(12px);
    line-height: rem(16px);
    border-radius: rem(30px);
    padding: 8px 16px;
    &:hover {
        border-color: $main-font-clr;
    }
}
