@font-face {
    font-family: AirbnbCereal-Bold;
    src: url(../../fonts/AirbnbCerealBold.ttf);
}

@font-face {
    font-family: AirbnbCereal-Med;
    src: url(../../fonts/AirbnbCerealMedium.ttf);
}

@font-face {
    font-family: AirbnbCereal-Reg;
    src: url(../../fonts/AirbnbCerealRegular.ttf);
}

@font-face {
    font-family: AirbnbCereal-Light;
    src: url(../../fonts/AirbnbCerealLight.ttf);
}

@font-face {
    font-family: Material-Icons-Round;
    src: url(../../fonts/MaterialIconsRound.woff2);
}

.title {
    font-family: AirbnbCereal-Med;
    font-weight: 400;
}