// LAYOUT

// breakpoints
$large-mobile-startpoint: 534px;
$tablet-portrait-startpoint: 727px;
$tablet-landscape-startpoint: 933px;
$laptop-startpoint: 1200px;

$max-content-width: 1500px;
$max-stay-width: 1120px;

$sm-margin: 24px;
$md-margin: 40px;
$lg-margin: 80px;

// COLORS

$main-highlight-clr: #ff385c;
$main-font-clr: #222222;
$ligher-font-clr: #717171;
$reg-btn-hover-clr: #f1f1f1;
$dark-btn-hover-clr: #ebebeb;
$light-btn-border-clr: #b0b0b0;
$header-btn-border-clr: #dddddd;