// LAYOUT

// breakpoints
$large-mobile-startpoint: 534px;
$tablet-portrait-startpoint: 727px;
$tablet-landscape-startpoint: 933px;
$laptop-startpoint: 1200px;

$max-content-width: 1500px;
$max-stay-width: 1120px;

$sm-margin: 24px;
$md-margin: 40px;
$lg-margin: 80px;

$sm-calendar-day: 41px;
$md-calendar-day: 48px;

// max content widths
// $max-tablet-portrait-content: 690px;
// $max-tablet-landscape-content: 940px;
// $max-laptop-content: 1110px;

// header nav layout
// $header-nav-width: 560px;

// COLORS

// $main-bg-clr: #014e56;
// $main-font-clr: #000;
$main-highlight-clr: #ff385c;
$main-font-clr: #222222;
$ligher-font-clr: #717171;
$reg-btn-hover-clr: #f1f1f1;
$dark-btn-hover-clr: #ebebeb;
$light-btn-border-clr: #b0b0b0;
$header-btn-border-clr: #dddddd;

$c1: #d93b30;
$c2:#e61e4d;
$c3: #cc2d4a;
$c4: #de3151;
$c5:#e31c5f;
$c6:#d70466;
$c7: #bc1a6e;
$c8:#c6017e;
$c9:#6f019c;
